* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('todo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

@media (max-width: 768px) {
    body {
        background-size: contain;
         

    }
}

.container { 
    width: 100%;
    min-height: 100vh;
     /* background: rgb(131, 5, 5);  */
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin:100px auto 20px ;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    margin-bottom:20px ;
}
.todo-app h2 img {
    width: 35px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 10px;
}
input{
    width: 400px;
    height: 45px;
    border-radius: 9px;
    background-color: rgb(250, 246, 249);
    border: none;
    font-size: 16px;
    outline: none;
    flex: 1;
    font-weight: 14px;
}
button{
    width: 90px;
    height:45px ;
    background-color: rgb(14, 14, 14); 
    color: rgb(247, 244, 244);
    outline: none;
    font-weight: bold;
     border-radius:10px ;
     border: none;
     cursor: pointer;
      font-size: large;
}
ul li{
    top: 10px;
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 28px;
    width: 29px;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;


}
ul li.checked{
    color: black;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images\ \(3\).jpg);
}
ul li span{
position: absolute;
right:  4px;
top: 10px;
font-size: 15px;
color: rgb(8, 8, 8); ; 
line-height: calc();
text-align: center;
font-weight: bold;
border-radius: 50%;
}
ul li:hover:hover{
    background: #edeef0;
}


